.container {
  display: flex;
  width: 100vh;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  min-width: 'fit-content';
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}

.canvas {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  height: 100%;
}

.dropContainer {
  padding: 5px;
  min-width: 40px;
  min-height: 40px;
  border-color:greenyellow;
  border-style: solid;
  border-width: 2px;
}

.toolbar {
  width: 100%;
}

.overlayChild {
  box-sizing: border-box;
  border-color:blueviolet;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

.overlay {
  padding: 5px;
  display: flex;
  flex-direction: row;
}