.container {
  display: flex;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 100%;
  width: 10%;
  gap: 10px;
}

.canvas {
  background-color: white;
  width: 90%;
  height: 100%;
}

.dropContainer {
  min-width: 100px;
  min-height: 100px;
  background-color:greenyellow;
}